h1 {
    color: red;

}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

p {
    background-color: yellow;
    color: black;
}


@media screen and (min-width: 800px) {
    p {
        background-color: rgb(25, 0, 255);
        color: rgb(255, 255, 255);
    }
}
h3{
display: none;

}
@media screen and (orientation: landscape) {
h3{
 display: block;
}

}